*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    list-style: none;
}
body{
    height: 100vh;
    /* width:500px; */
    background-image:linear-gradient(315deg, #20bf55 0%, #01baef 74%);
    color:white;
    font-family: 'Courier New', Courier, monospace;
    width:100%;
   
}
.container{
    width:500px;
    text-align: center;
    margin:0 auto;
    padding:25px;
   
    
}
.container h1{
    padding:15px;
    font-size:35px;
}
.input{
    width:300px;
    height: 40px;
    padding:15px;
    outline: none;
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
}
.btn{
    padding:5px;
    margin:10px;
    background-color:transparent;
    border:1px solid white;
    
    
     color:lightgray;
    font-size:20px;
    width:200px;
    outline: none;
    font-family:sans-serif;
}
.container button:hover{
    transform: scale(1.09);
    background-color: white;
    color:black;

}